:root {
  --color-bg: rgb(16, 16, 16);
  --color-foreground: rgba(255, 255, 255);
  --color-neutral: rgb(90, 90, 90);
  --color-error: rgba(255, 100, 100);
  --color-primary: rgb(61, 255, 126);
  --color-border: 1px solid black;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
body {
  font-family: var(--font-family);
  padding: 20px 100px;
  background-color: var(--color-bg);
  color: var(--color-foreground);
}
#keyboard {
  background-color: var(--color-bg);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.key {
  border: var(--color-border);
  background-color: var(--color-neutral);
  padding: 10px;
  border-radius: 4px;
  margin: 2px;
}
.key.active {
  background-color: var(--color-primary);
}
.key.size-1 {
  font-size: 0.9rem;
  flex: 8;
}

.key.size-2 {
  flex: 10;
  text-transform: uppercase;
}
.key.size-3 {
  flex: 16;
}
.key.size-4 {
  flex: 20;
}
.key.size-5 {
  flex: 25;
}
.key.size-6 {
  flex: 25;
  padding: 20px 10px;
}
.key.size-7 {
  flex: 100;
}
#output-container {
  padding: 100px;
}
.character {
  font-size: 1.25rem;
  color: var(--color-neutral);
  font-weight: 900;
}
.character.error {
  color: var(--color-error);
}
.character.written {
  color: var(--color-text);
}
#time-container {
  font-size: 1.3rem;
  font-weight: 900;
}
#settings {
  display: none;
  position: fixed;
  background-color: var(--color-bg);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
